@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  --pbc-dark-blue: #0055ab;
  --pbc-blue: #018be1;
  --pbc-light-blue: #84baf4;
}

body {
  color: var(--pbc-dark-blue);
  font-family: Arial, Helvetica, sans-serif;
}
