@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-bluePBC: #018be1;
  --color-light-blue: #84baf4;
  --color-dark-blue: #0055ab;
  --color-surface-blue: #d8eafb;
  --color-dark-grey: #202020;
  --color-medium-grey: #707070;
  --color-light-grey: #dedede;

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-poppins);
}
